html {
  height: 100%;
  width: 100%;
}

.prose {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: normal;
}

.prose-italic {
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  font-style: italic;
}


#logo {
  width: 7%;
  height: 0.3%;
}

body {
  margin: 1in;
  
}

h1 {
  font-style: italic;
  font-weight: bold;
}

h2 {
  font-style: italic;
}

hr {
  color: lightgray;
}

h4 {
color: #522449; 
}

.zipcode {
  font-style: italic;
  margin-left: 25px;
}

a {
  font-style: italic;
  text-decoration: none;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#522449;
  text-align: center;
  text-decoration: underline;
}

li.navbar_item {
  float: left;
}

li.navbar_item a {
  color: white;
  display: block;
  font-family: "Libre Caslon Text", serif;
  font-style: normal;
  font-weight: 400;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
}

div {
  margin-left: 23px;
}

footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#522449;
  position: fixed;
}

body.find_your_leg_screen {
  height: 100%;
  width: auto;
}

body.home_screen{
  height:190%;
  width: auto;
}
body.ways_to_engage_screen {
  height: 150%;
  width: auto;
}