html {
  height: 100%;
  width: 100%;
}

#logo{
  width: 7%;
  height: 0.3%;
}

body {
  margin: 1in;
}

h1 {
  font-family: serif;
  font-style: italic;
  font-weight: bold;
}

h2 {
  font-family: serif;
  font-style: italic;
}

hr {
  color: lightgray;
}

h4 {
color: #522449; 
}

.zipcode {
  font-family: serif;
  font-style: italic;
  margin-left: 23px;
}

.subtitle {
  font-family: serif;
  font-style: italic;
}

a {
  font-family: serif;
  font-style: italic;
  text-decoration: none;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#522449;
  text-align: center;
}

li.navbar_item {
  float: left;
}

li.navbar_item a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

div {
  margin-left: 23px;
}

footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#522449;
  position: fixed;
}