html {
  height: 100%;
  width: 100%;
}

#logo{
  width:50%;
  height: 50%;
}

h1 {
  font-family: serif;
  font-style: italic;
}
h2 {
  font-family: serif;
  font-style: italic;
}

.subtitle {
  font-family: serif;
  font-style: italic;
}

a {
  font-family: serif;
  font-style: italic;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

